<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8">
    <title>Tasks</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-reboot.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/progress.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>

<main class="content mt-3">

    <div class="card" style="width: 50%; margin: 0 auto;">
        <div class="container" style="margin: 0 auto">
            <div class="row">
                <div class="col">
                    <h3>Регистрация</h3>
                </div>
            </div>
            <hr/>

            <p th:value="${text}"></p>

        </div>
    </div>
</main>

<footer class="footer bg-secondary mt-3">
    <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright: SocShared</div>
</footer>

</body>
</html>